* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: Inter;
  src: url(fonts/Intert.ttf);
}
@font-face {
  font-family: Inika;
  src: url(fonts/Inika-Regular.ttf);
}
body {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
}
body button {
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

header {
  background: #EDF2EC;
  height: 134px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1222px;
  height: 50px;
  padding-top: 42px;
  margin: 0 auto;
}
header nav h1 {
  width: 79.17px;
  height: 21.04px;
  font-family: "Inika";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
header nav h1:hover {
  cursor: pointer;
  scale: 1.2;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
  gap: 46px;
}
header nav ul li a {
  color: #010201;
  text-decoration: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
header nav ul li a:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #E06733;
  cursor: pointer;
}
header nav ul li a span {
  color: #E06733;
}

.welcome {
  background: #EDF2EC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 532px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 62px 109px 62px 109px;
}
.welcome img {
  max-width: 100%;
  height: auto;
}
.welcome div {
  max-width: 549px;
  height: 340px;
}
.welcome div h2 {
  max-width: 549px;
  height: auto;
  font-weight: 700;
  font-size: 45px;
  line-height: 50px;
  color: #717171;
  margin: 0 0 42px 0;
}
.welcome div h2 span {
  color: #499A18;
}
.welcome div p {
  max-width: 525.44px;
  height: 105px;
  font-size: 20px;
  line-height: 35px;
  color: #636060;
  margin: 0 0 48px 0;
}
.welcome div button {
  width: 158px;
  height: 44px;
  border: 2px solid #E06733;
  border-radius: 10px;
  font-size: 16px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  color: black;
}
.welcome div button:hover {
  background-color: #E06733;
  color: white;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 666px;
  padding: 93px 109px 94px 109px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.about div {
  max-width: 605px;
  height: 350px;
}
.about div h2 {
  max-width: 462px;
  height: auto;
  margin: 0;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #499A18;
}
.about div h2 span {
  color: #E06733;
}
.about div p {
  max-width: 605px;
  height: 208px;
  font-size: 20px;
  margin: 40px 0 0 0;
}
.about img {
  max-width: 100%;
  height: auto;
}

.service {
  height: 1300px;
  padding: 40px 109px 121px 109px;
  background-color: #EDF2EC;
}
.service .service_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1007px;
  height: 94px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.service .service_content h2 {
  width: 306px;
  height: 94px;
  color: #499A18;
  font-size: 40px;
  line-height: 52px;
}
.service .service_content div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 559px;
  height: 50px;
}
.service .service_content div button {
  width: 161px;
  height: 50px;
  border: 1px solid #E06733;
  border-radius: 5px;
  color: #E06733;
  font-family: "Inika";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
}
.service .service_content div button:hover {
  background-color: #E06733;
  color: white;
}
.service .service_content div button:first-child {
  background-color: #E06733;
  color: white;
}

.services {
  margin-top: 90px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1rem 1fr 1rem 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  row-gap: 55px;
}
.services div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 330px;
  max-height: 450px;
  border: 1px solid #E3E1D5;
  border-radius: 20px 20px 20px 20px;
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.services div h3 {
  color: #E06733;
  margin: 10px 0 10px 0;
}
.services div p {
  color: #717171;
}

.prices {
  margin: 0 auto;
  height: 560px;
  padding: 40px 109px 115px 109px;
}

.prices_acord {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.prices_acord .price_first_part {
  width: 332px;
  height: 391px;
}
.prices_acord .price_first_part h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #000000;
  margin-bottom: 60px;
}
.prices_acord .price_first_part .prce_acord_box {
  width: 332px;
  height: 282px;
  padding: 34px 41px 34px 41px;
}
.prices_acord .price_first_part .prce_acord_box div {
  margin-bottom: 32px;
}
.prices_acord .price_second_part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
.prices_acord .price_second_part h2 {
  max-width: 425px;
  height: 103px;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: -0.02em;
  text-align: right;
  color: #000000;
  margin-bottom: 38px;
}
.prices_acord .price_second_part h2 span {
  color: #499A18;
}
.prices_acord .price_second_part button {
  width: 162px;
  height: 50px;
  border: 1px solid #E06733;
  border-radius: 5px;
  color: #E06733;
  font-family: "Inika";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  background-color: #FFFFFF;
  margin-bottom: 39px;
}
.prices_acord .price_second_part button:hover {
  background-color: #E06733;
  color: white;
}
.prices_acord .price_second_part img {
  width: 152px;
  height: 175px;
}

.accordion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 250px;
  height: 50px;
  border-radius: 20px;
  border: 0;
  background-color: #EDF2EC;
  text-align: left;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  padding: 16px 40px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
.accordion:hover {
  background-color: #D6E7D2;
}
.accordion::after {
  content: url(/main/img/svg/accordion_btn.svg);
  height: 16px;
  width: 16px;
  color: #010201;
  border-radius: 8px;
}

.active {
  background-color: #D6E7D2;
  border-radius: 20px 20px 0 0;
  -webkit-transition: border-radius 0s;
  transition: border-radius 0s;
}
.active::after {
  content: url(/main/img/svg/accordion_btn_open.svg);
}

.panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-height: 0;
  width: 250px;
  background-color: #D6E7D2;
  padding: 0 40px;
  overflow: hidden;
  border-radius: 0 0 20px 20px;
  -webkit-transition: max-height 0.5s ease-out;
  transition: max-height 0.5s ease-out;
}
.panel p {
  width: 169px;
  height: 30px;
  font-size: 10px;
  line-height: 10px;
  color: #717171;
  margin-bottom: 8px;
}
.panel h3 {
  text-align: left;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 12px;
}
.panel h3 span {
  color: #E06733;
  font-size: 16px;
  font-weight: 700;
}
.panel button {
  width: 86px;
  height: 25px;
  background: #FFFFFF;
  border-radius: 10px;
  border: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #717171;
  margin-bottom: 15px;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 550px;
  background-color: #EDF2EC;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 60px 109px 0 109px;
}
.contacts img {
  width: 400px;
  height: 497px;
}
.contacts h2 {
  color: #499A18;
  font-family: "Inika";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  margin: 0 65px 0 112px;
}
.contacts button {
  width: 450px;
  height: 50px;
  background-color: #D6E7D2;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  color: #717171;
  text-align: left;
  border: 0;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 5px 35px 5px 20px;
  margin-top: 88px;
}

footer {
  padding: 40px 109px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 130px;
}
footer section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1222px;
  height: 50px;
}
footer section a {
  width: 182px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  color: #000000;
  text-decoration: none;
}
footer section div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 188px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}