* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: Inter;
  src: url(/main/fonts/Intert.ttf);
}
@font-face {
  font-family: Inika;
  src: url(/main/fonts/Inika-Regular.ttf);
}
body {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
}
body button {
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

header {
  background: #EDF2EC;
  height: 134px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1222px;
  height: 50px;
  padding-top: 42px;
  margin: 0 auto;
}
header nav h1 {
  width: 79.17px;
  height: 21.04px;
  font-family: "Inika";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
header nav h1:hover {
  cursor: pointer;
  scale: 1.2;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
  gap: 46px;
}
header nav ul li a {
  color: #010201;
  text-decoration: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
header nav ul li a:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #E06733;
  cursor: pointer;
}
header nav ul li a span {
  color: #E06733;
}

.welcome {
  background: #EDF2EC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 532px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 62px 109px 62px 109px;
}
.welcome img {
  width: 448.8px;
  height: 407.36px;
}
.welcome div {
  width: 549px;
  height: 340px;
}
.welcome div h2 {
  width: 549px;
  height: 101px;
  font-weight: 700;
  font-size: 45px;
  line-height: 50px;
  color: #717171;
  margin: 0 0 42px 0;
}
.welcome div h2 span {
  color: #499A18;
}
.welcome div p {
  width: 525.44px;
  height: 105px;
  font-size: 20px;
  line-height: 35px;
  color: #636060;
  margin: 0 0 48px 0;
}
.welcome div button {
  width: 158px;
  height: 44px;
  border: 2px solid #E06733;
  border-radius: 10px;
  font-size: 16px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  color: black;
}
.welcome div button:hover {
  background-color: #E06733;
  color: white;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 666px;
  padding: 93px 109px 94px 109px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.about div {
  max-width: 605px;
  height: 350px;
}
.about div h2 {
  width: 462px;
  height: 102px;
  margin: 0;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #499A18;
}
.about div h2 span {
  color: #E06733;
}
.about div p {
  width: 605px;
  height: 208px;
  font-size: 20px;
  margin: 40px 0 0 0;
}

.service {
  height: 1300px;
  padding: 40px 109px 121px 109px;
  background-color: #EDF2EC;
}
.service .service_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1007px;
  height: 94px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.service .service_content h2 {
  width: 306px;
  height: 94px;
  color: #499A18;
  font-size: 40px;
  line-height: 52px;
}
.service .service_content div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 559px;
  height: 50px;
}
.service .service_content div button {
  width: 161px;
  height: 50px;
  border: 1px solid #E06733;
  border-radius: 5px;
  color: #E06733;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
}
.service .service_content div button:hover {
  background-color: #E06733;
  color: white;
}
.service .service_content div button:first-child {
  background-color: #E06733;
  color: white;
}

.services {
  margin-top: 90px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 116px 1fr 116px 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 116px;
  row-gap: 55px;
}
.services div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 330px;
  height: 450px;
  border: 1px solid #E3E1D5;
  border-radius: 20px 20px 20px 20px;
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.services div h3 {
  color: #E06733;
  margin: 10px 0 10px 0;
}
.services div p {
  color: #717171;
}

.prices {
  margin: 0 auto;
}

.accordion {
  width: 250px;
  height: 50px;
  border-radius: 20px;
  border: 0;
  background-color: #EDF2EC;
  text-align: left;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  padding: 16px 40px;
}
.accordion:hover {
  background-color: #D6E7D2;
}

.active {
  background-color: #D6E7D2;
  border-radius: 20px 20px 0 0;
}

.panel {
  height: 108px;
  width: 250px;
  background-color: #D6E7D2;
  display: none;
  overflow: hidden;
}
.panel p {
  width: 169px;
  height: 30px;
}
.panel button {
  width: 86px;
  height: 25px;
  background: #FFFFFF;
  border-radius: 10px;
  border: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #717171;
}